/* buttons */
.danger-btn, .success-btn, .warning-btn, .light-btn, .dark-btn, .primary-btn {
  padding: 0.625rem 1.5625rem;
  border-radius: 0.313rem;
  color: #fff;
  background-color: #555555;
  border: 0.207rem solid #6f6f6f;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}
.danger-btn:hover, .success-btn:hover, .warning-btn:hover, .light-btn:hover, .dark-btn:hover, .primary-btn:hover {
  background-color: #626262;
}
.danger-btn::after, .success-btn::after, .warning-btn::after, .light-btn::after, .dark-btn::after, .primary-btn::after {
  content: "";
  width: 0;
  transform: rotate(-30deg);
  height: 130%;
  position: absolute;
  left: -30%;
  top: 0;
  box-shadow: 0 0 0.513rem 0.04rem #fff;
  transition: 0.2s ease left;
}
.danger-btn:active::after, .success-btn:active::after, .warning-btn:active::after, .light-btn:active::after, .dark-btn:active::after, .primary-btn:active::after {
  left: 130%;
}

.primary-btn {
  background-color: #008CBA;
  border-color: #00b2ed;
}
.primary-btn:hover {
  background-color: #009fd4;
}

.light-btn {
  background-color: #e7e7e7;
  border-color: #e1e1e1;
  color: #1a1a1a;
}
.light-btn:hover {
  background-color: #f4f4f4;
}
.light-btn::after {
  box-shadow: 0 0 0.513rem 0.04rem #999;
}

.warning-btn {
  background-color: #eba029;
  border-color: #efb558;
}
.warning-btn:hover {
  background-color: #edaa40;
}

.success-btn {
  background-color: #4CAF50;
  border-color: #6ec071;
}
.success-btn:hover {
  background-color: #5cb860;
}

.danger-btn {
  background-color: #f44336;
  border-color: #f77066;
}
.danger-btn:hover {
  background-color: #f55a4e;
}

/* sizing button */
.btn-sm {
  padding: 0.4166666667rem 1.0416666667rem !important;
  font-size: 0.8rem;
}

.btn-lg {
  padding: 0.9375rem 2.34375rem !important;
  font-size: 1.2rem;
}