/* buttons */
.btn-danger, .btn-success, .btn-warning, .btn-light, .btn-dark, .btn-primary {
  padding: 0.625rem 1.5625rem;
  border-radius: 0.313rem;
  color: #fff;
  background-color: #555555;
  border: 0.207rem solid #6f6f6f;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  margin: 0.325rem 0.4rem;
  overflow: hidden;
}
.btn-danger:hover:not(.disabled):not([disabled]), .btn-success:hover:not(.disabled):not([disabled]), .btn-warning:hover:not(.disabled):not([disabled]), .btn-light:hover:not(.disabled):not([disabled]), .btn-dark:hover:not(.disabled):not([disabled]), .btn-primary:hover:not(.disabled):not([disabled]) {
  background-color: #626262;
}
.btn-danger::after, .btn-success::after, .btn-warning::after, .btn-light::after, .btn-dark::after, .btn-primary::after {
  content: "";
  visibility: hidden;
  width: 0.612rem;
  transform: rotate(-30deg);
  height: 130%;
  position: absolute;
  left: -30%;
  top: -15%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.2s ease left;
}
.btn-danger:active:not(.disabled):not([disabled])::after, .btn-success:active:not(.disabled):not([disabled])::after, .btn-warning:active:not(.disabled):not([disabled])::after, .btn-light:active:not(.disabled):not([disabled])::after, .btn-dark:active:not(.disabled):not([disabled])::after, .btn-primary:active:not(.disabled):not([disabled])::after {
  left: 130%;
  visibility: visible;
}
.disabled.btn-danger, .disabled.btn-success, .disabled.btn-warning, .disabled.btn-light, .disabled.btn-dark, .disabled.btn-primary, [disabled].btn-danger, [disabled].btn-success, [disabled].btn-warning, [disabled].btn-light, [disabled].btn-dark, [disabled].btn-primary {
  opacity: 0.7;
  cursor: auto !important;
}

.btn-primary {
  background-color: #008CBA;
  border-color: #00b2ed;
}
.btn-primary:hover:not(.disabled):not([disabled]) {
  background-color: #009fd4 !important;
}

.btn-light {
  background-color: #e7e7e7;
  border-color: #e1e1e1;
  color: #1a1a1a;
}
.btn-light:hover:not(.disabled):not([disabled]) {
  background-color: #f4f4f4 !important;
}
.btn-light::after {
  background-color: rgba(26, 26, 26, 0.1);
}

.btn-warning {
  background-color: #eba029;
  border-color: #efb558;
}
.btn-warning:hover:not(.disabled):not([disabled]) {
  background-color: #edaa40 !important;
}

.btn-success {
  background-color: #4CAF50;
  border-color: #6ec071;
}
.btn-success:hover:not(.disabled):not([disabled]) {
  background-color: #5cb860 !important;
}

.btn-danger {
  background-color: #f44336;
  border-color: #f77066;
}
.btn-danger:hover:not(.disabled):not([disabled]) {
  background-color: #f55a4e !important;
}

/* sizing button */
.btn-sm {
  padding: 0.4166666667rem 1.0416666667rem !important;
  font-size: 0.8rem;
}

.btn-lg {
  padding: 0.9375rem 2.34375rem !important;
  font-size: 1.2rem;
}