// colors background
$primary-color: #008CBA;
$danger-color: #f44336;
$success-color: #4CAF50;
$dark-color: #555555;
$light-color: #e7e7e7;
$warning-color: #eba029;

// color text
$white-color: #fff;
$black-color: #1a1a1a;

